<!--#include virtual="/mine/head.html"-->
<link href="/css/team/index.css<!--#include virtual='/tpl/version.html'-->" rel="stylesheet" media="all" />
<!--#include virtual="/tpl/navbar.html"-->
    <section class="grid-wrap wrapper" id="wrapper">
        <div class="member-list grid-wrap"></div>
        <script type="text/template" id="member-list-tpl">
            <div class="member-head grid">
                <li class="col-4">会员名</li>
                <li class="col-2">等级</li>
                <li class="col-3">经验</li>
                <li class="col-3">{{if data.self_info.type == 1}} <span class="btn_dissolution">解散</span>{{/if}}</li>
                
            </div>
            {{each data.member_list as member}}
            <div class="member-item grid">
                <li class="col-4">{{member.member_name}}</li>
                <li class="col-2">{{if member.type==1}}<span class='manager'>组长</span>{{else}}成员{{/if}}</li>
                <li class="col-3">{{member.member_grade.level_name}}</li>
                <li class="col-3">
                {{if data.self_info.type == 1}}
                    {{if member.type == 1}}
                    <span data-id="{{member.member_id}}" class="btn_transfer">转让</span>
                    {{else}}
                    <span data-id="{{member.member_id}}" class="btn_layoff">移出</span>
                    {{/if}}
                {{else}}
                    {{if data.self_info.member_id == member.member_id}}
                    <span data-id="0" class="btn_layoff">退出</span>                    
                    {{/if}}
                {{/if}}
                </li>
            </div>
            {{/each}}
        </script>

    <div class="mask hidden">
        <div class="selectmember-pop popout">
            <h2 class="pop-title">请选择</h2>
            <select class="transfermember_id"></select>
            <div class="pop-sure">
                <div class="pop-cancle">取消</div>
                <div class="pop-confirm" data-type="headicon">保存</div>
            </div>
        </div>
    </div>
    </section>
    <script type="text/javascript">
        set_title("小组成员列表");
        getAjaxResult(getUrl('mz_team_member','getMemberList'),'member-list-tpl',".member-list","",'bindEvent');
        function bindEvent(data){
            var options = '';
            data.member_list.forEach(function(m) {
                if (m.type == 0) {
                    options += '<option value="' + m.member_id + '">' + m.member_name + "</option>"
                }
            });
            $('.transfermember_id').html(options);
            $(".btn_dissolution").tap(function(){
                $.dialog({
                    content : '确定解散该小组？解散后无法恢复',
                    title : 'alert',
                    ok : function() {
                        ajax_do(getUrl('mz_team_member','dissolution'));
                    },
                    cancel : function() {},
                    lock : false
                });
            });
            $('.btn_layoff').tap(function(){
                var member_id = $(this).attr('data-id');
                $.dialog({
                    content : (member_id > 0)?'确定将该用户移出小组？':"确定退出该小组？",
                    title : 'alert',
                    ok : function() {
                        ajax_do(getUrl('mz_team_member','layoffMember','member_id='+member_id));
                    },
                    cancel : function() {},
                    lock : false
                });
            });
            $('.btn_transfer').tap(function(){
                $.dialog({
                    content : "确定将组长职位转让?",
                    title : 'alert',
                    ok : function() {
                        $('.mask').removeClass("hidden");
                        $(".popout").removeClass("hidden");

                        $(".pop-confirm").tap(function(){
                            var transfermember_id = $('.transfermember_id').val();
                            ajax_do(getUrl('mz_team_member','transferTeam','member_id='+transfermember_id));
                        });
                        $(".pop-cancle").tap(function(){hideEditPage()});
                    },
                    cancel : function() {},
                    lock : false
                });
            });
        }
        function hideEditPage(){
            $(".mask").addClass("hidden").css({opacity:1});
            $(".popout").addClass("hidden");
        }
    </script>
</body>
</html>
