@charset "utf-8";
html {
  background-color: #eeeeee;
}
body {
  background-color: #eee;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.uprows,
.downrows {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-top: 0.5rem;
}
.uprows .headicon,
.downrows .headicon {
  padding-left: .5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 4.6em;
  background-color: #ffffff;
}
.uprows .headicon-inner,
.downrows .headicon-inner {
  position: relative;
  border-bottom: 0.05rem solid #eeeeee;
}
.uprows .headicon-inner .headpic,
.downrows .headicon-inner .headpic {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 1rem;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
}
.uprows .headicon-inner .answer,
.downrows .headicon-inner .answer {
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 1rem;
}
.uprows .headicon-inner label,
.downrows .headicon-inner label {
  color: #333333;
}
.uprows .headicon-inner label,
.downrows .headicon-inner label {
  font-size: 0.7rem;
}
.uprows .nickname,
.downrows .nickname,
.uprows .truename,
.downrows .truename,
.uprows .gender,
.downrows .gender,
.uprows .birthday,
.downrows .birthday,
.uprows .verified,
.downrows .verified,
.uprows .promotion_group,
.downrows .promotion_group,
.uprows .password,
.downrows .password,
.uprows .mobile,
.downrows .mobile,
.uprows .idcard,
.downrows .idcard {
  padding-left: .5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 3em;
  background: #ffffff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK5JREFUeNpi/P//PwMtARMDjQFOC+7cuVMAxB+AOIFWPjAAYn4gnk+JJfgsKADii1A22ZbgtEBFReUDkHKg1BK8kUwNSwimIkotISqZUmIJ0fmAXEtIymjkWEJyTibVEmoVFQa4JBhJLeyArhUAUgeAWB8qtBDoK+r4gFTDSbKAHMOJtoBcw4mygBLDCVpAqeGEKhyKDSfkgwmUGk7IggdQeiK5hpOV0QZdqwIgwACPxWzglXJVjwAAAABJRU5ErkJggg==') no-repeat 98.5% center;
  background-size: 0.6rem 0.6rem;
}
.uprows .nickname label,
.downrows .nickname label,
.uprows .truename label,
.downrows .truename label,
.uprows .gender label,
.downrows .gender label,
.uprows .birthday label,
.downrows .birthday label,
.uprows .verified label,
.downrows .verified label,
.uprows .promotion_group label,
.downrows .promotion_group label,
.uprows .password label,
.downrows .password label,
.uprows .mobile label,
.downrows .mobile label,
.uprows .idcard label,
.downrows .idcard label {
  font-size: 0.7rem;
}
.uprows .nickname-inner,
.downrows .nickname-inner,
.uprows .truename-inner,
.downrows .truename-inner,
.uprows .gender-inner,
.downrows .gender-inner,
.uprows .birthday-inner,
.downrows .birthday-inner,
.uprows .verified-inner,
.downrows .verified-inner,
.uprows .promotion_group-inner,
.downrows .promotion_group-inner,
.uprows .password-inner,
.downrows .password-inner,
.uprows .mobile-inner,
.downrows .mobile-inner,
.uprows .idcard-inner,
.downrows .idcard-inner {
  position: relative;
  border-bottom: 0.05rem solid #eeeeee;
}
.uprows .nickname-inner .answer,
.downrows .nickname-inner .answer,
.uprows .truename-inner .answer,
.downrows .truename-inner .answer,
.uprows .gender-inner .answer,
.downrows .gender-inner .answer,
.uprows .birthday-inner .answer,
.downrows .birthday-inner .answer,
.uprows .verified-inner .answer,
.downrows .verified-inner .answer,
.uprows .promotion_group-inner .answer,
.downrows .promotion_group-inner .answer,
.uprows .password-inner .answer,
.downrows .password-inner .answer,
.uprows .mobile-inner .answer,
.downrows .mobile-inner .answer,
.uprows .idcard-inner .answer,
.downrows .idcard-inner .answer {
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 1rem;
  width: 10rem;
  height: 100%;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
}
.uprows .nickname-inner label,
.downrows .nickname-inner label,
.uprows .truename-inner label,
.downrows .truename-inner label,
.uprows .gender-inner label,
.downrows .gender-inner label,
.uprows .birthday-inner label,
.downrows .birthday-inner label,
.uprows .verified-inner label,
.downrows .verified-inner label,
.uprows .promotion_group-inner label,
.downrows .promotion_group-inner label,
.uprows .password-inner label,
.downrows .password-inner label,
.uprows .mobile-inner label,
.downrows .mobile-inner label,
.uprows .idcard-inner label,
.downrows .idcard-inner label {
  color: #333333;
}
.uprows {
  margin-top: 2rem;
}
.save-info-btn {
  text-align: center;
  font-size: .8rem;
  color: #FFF;
  background-color: #ff4965;
  width: 15rem;
  height: 2rem;
  -webkit-border-radius: .12rem;
  border-radius: .12rem;
  margin: 0 auto;
  margin-top: 1rem;
  line-height: 2rem;
}
#logout {
  text-align: center;
  font-size: .8rem;
  color: #FFF;
  background-color: #ccc;
  width: 15rem;
  height: 2rem;
  -webkit-border-radius: .12rem;
  border-radius: .12rem;
  margin: 0 auto;
  margin-top: 1rem;
  line-height: 2rem;
}
.hidden {
  display: none;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  opacity: 1;
}
.mask .headicon-pop,
.mask .truename-pop,
.mask .gender-pop,
.mask .date-pop,
.mask .promotion_group-pop,
.mask .password-pop {
  background-color: #fff;
  -webkit-border-radius: .2rem;
  border-radius: .2rem;
  position: absolute;
  width: 12rem;
  height: 8.7rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.mask .headicon-pop .headiconedit,
.mask .truename-pop .headiconedit,
.mask .gender-pop .headiconedit,
.mask .date-pop .headiconedit,
.mask .promotion_group-pop .headiconedit,
.mask .password-pop .headiconedit {
  width: 80%;
  margin: 0 auto;
  display: block;
  margin-top: 1.5rem;
  border: 0;
  border: .05rem solid #e4e4e4;
  font-size: .7rem;
  background-color: #f2f2f2;
  padding-left: .4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  border-radius: .15rem;
  -webit-appearance: none;
}
.mask .headicon-pop .truenameedit,
.mask .truename-pop .truenameedit,
.mask .gender-pop .truenameedit,
.mask .date-pop .truenameedit,
.mask .promotion_group-pop .truenameedit,
.mask .password-pop .truenameedit {
  width: 80%;
  margin: 0 auto;
  display: block;
  height: 1.8rem;
  margin-top: 1.5rem;
  border: 0;
  border: .05rem solid #e4e4e4;
  font-size: .7rem;
  background-color: #f2f2f2;
  padding-left: .4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  border-radius: .15rem;
  -webit-appearance: none;
}
.mask .headicon-pop .gender-row,
.mask .truename-pop .gender-row,
.mask .gender-pop .gender-row,
.mask .date-pop .gender-row,
.mask .promotion_group-pop .gender-row,
.mask .password-pop .gender-row {
  position: relative;
  font-size: .8rem;
  margin-top: 1rem;
  padding: 0 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mask .headicon-pop .gender,
.mask .truename-pop .gender,
.mask .gender-pop .gender,
.mask .date-pop .gender,
.mask .promotion_group-pop .gender,
.mask .password-pop .gender {
  position: absolute;
  right: 2rem;
  width: .8rem;
  height: .8rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.mask .headicon-pop .birthday,
.mask .truename-pop .birthday,
.mask .gender-pop .birthday,
.mask .date-pop .birthday,
.mask .promotion_group-pop .birthday,
.mask .password-pop .birthday {
  width: 2.5rem;
  height: 1.5rem;
  margin-left: .6rem;
  margin-top: 1.7rem;
  text-align: center;
  border: 0;
  border: .05rem solid #e4e4e4;
  background-color: #f2f2f2;
  -webit-appearance: none;
}
.mask .headicon-pop .birthmonth,
.mask .truename-pop .birthmonth,
.mask .gender-pop .birthmonth,
.mask .date-pop .birthmonth,
.mask .promotion_group-pop .birthmonth,
.mask .password-pop .birthmonth,
.mask .headicon-pop .birthdate,
.mask .truename-pop .birthdate,
.mask .gender-pop .birthdate,
.mask .date-pop .birthdate,
.mask .promotion_group-pop .birthdate,
.mask .password-pop .birthdate {
  width: 2rem;
}
.mask .headicon-pop .gender-select,
.mask .truename-pop .gender-select,
.mask .gender-pop .gender-select,
.mask .date-pop .gender-select,
.mask .promotion_group-pop .gender-select,
.mask .password-pop .gender-select {
  width: 8rem;
  margin: 0 auto;
  display: block;
  height: 1.7rem;
  margin-top: 1.8rem;
  border: 0;
  border: .05rem solid #e4e4e4;
  border-radius: .15rem;
  background-color: #f2f2f2;
  -webkit-appearance: none;
}
.mask .headicon-pop .headicon-notification,
.mask .truename-pop .headicon-notification,
.mask .gender-pop .headicon-notification,
.mask .date-pop .headicon-notification,
.mask .promotion_group-pop .headicon-notification,
.mask .password-pop .headicon-notification,
.mask .headicon-pop .truename-notification,
.mask .truename-pop .truename-notification,
.mask .gender-pop .truename-notification,
.mask .date-pop .truename-notification,
.mask .promotion_group-pop .truename-notification,
.mask .password-pop .truename-notification,
.mask .headicon-pop .date-notification,
.mask .truename-pop .date-notification,
.mask .gender-pop .date-notification,
.mask .date-pop .date-notification,
.mask .promotion_group-pop .date-notification,
.mask .password-pop .date-notification {
  text-align: right;
  font-size: .5rem;
  margin-right: 1.2rem;
  margin-top: 0.1rem;
}
.mask .headicon-pop .headicon-notification .headicon-alert,
.mask .truename-pop .headicon-notification .headicon-alert,
.mask .gender-pop .headicon-notification .headicon-alert,
.mask .date-pop .headicon-notification .headicon-alert,
.mask .promotion_group-pop .headicon-notification .headicon-alert,
.mask .password-pop .headicon-notification .headicon-alert,
.mask .headicon-pop .truename-notification .headicon-alert,
.mask .truename-pop .truename-notification .headicon-alert,
.mask .gender-pop .truename-notification .headicon-alert,
.mask .date-pop .truename-notification .headicon-alert,
.mask .promotion_group-pop .truename-notification .headicon-alert,
.mask .password-pop .truename-notification .headicon-alert,
.mask .headicon-pop .date-notification .headicon-alert,
.mask .truename-pop .date-notification .headicon-alert,
.mask .gender-pop .date-notification .headicon-alert,
.mask .date-pop .date-notification .headicon-alert,
.mask .promotion_group-pop .date-notification .headicon-alert,
.mask .password-pop .date-notification .headicon-alert,
.mask .headicon-pop .headicon-notification .truename-alert,
.mask .truename-pop .headicon-notification .truename-alert,
.mask .gender-pop .headicon-notification .truename-alert,
.mask .date-pop .headicon-notification .truename-alert,
.mask .promotion_group-pop .headicon-notification .truename-alert,
.mask .password-pop .headicon-notification .truename-alert,
.mask .headicon-pop .truename-notification .truename-alert,
.mask .truename-pop .truename-notification .truename-alert,
.mask .gender-pop .truename-notification .truename-alert,
.mask .date-pop .truename-notification .truename-alert,
.mask .promotion_group-pop .truename-notification .truename-alert,
.mask .password-pop .truename-notification .truename-alert,
.mask .headicon-pop .date-notification .truename-alert,
.mask .truename-pop .date-notification .truename-alert,
.mask .gender-pop .date-notification .truename-alert,
.mask .date-pop .date-notification .truename-alert,
.mask .promotion_group-pop .date-notification .truename-alert,
.mask .password-pop .date-notification .truename-alert,
.mask .headicon-pop .headicon-notification .date-alert-note,
.mask .truename-pop .headicon-notification .date-alert-note,
.mask .gender-pop .headicon-notification .date-alert-note,
.mask .date-pop .headicon-notification .date-alert-note,
.mask .promotion_group-pop .headicon-notification .date-alert-note,
.mask .password-pop .headicon-notification .date-alert-note,
.mask .headicon-pop .truename-notification .date-alert-note,
.mask .truename-pop .truename-notification .date-alert-note,
.mask .gender-pop .truename-notification .date-alert-note,
.mask .date-pop .truename-notification .date-alert-note,
.mask .promotion_group-pop .truename-notification .date-alert-note,
.mask .password-pop .truename-notification .date-alert-note,
.mask .headicon-pop .date-notification .date-alert-note,
.mask .truename-pop .date-notification .date-alert-note,
.mask .gender-pop .date-notification .date-alert-note,
.mask .date-pop .date-notification .date-alert-note,
.mask .promotion_group-pop .date-notification .date-alert-note,
.mask .password-pop .date-notification .date-alert-note {
  color: #ff4965;
  margin-right: 0.3rem;
}
.mask .headicon-pop .promotion_group-notification,
.mask .truename-pop .promotion_group-notification,
.mask .gender-pop .promotion_group-notification,
.mask .date-pop .promotion_group-notification,
.mask .promotion_group-pop .promotion_group-notification,
.mask .password-pop .promotion_group-notification {
  font-size: 0.8rem;
  margin: 0.5rem 0.7rem;
}
.mask .headicon-pop .promotion_group-notification .promotion_group-notion,
.mask .truename-pop .promotion_group-notification .promotion_group-notion,
.mask .gender-pop .promotion_group-notification .promotion_group-notion,
.mask .date-pop .promotion_group-notification .promotion_group-notion,
.mask .promotion_group-pop .promotion_group-notification .promotion_group-notion,
.mask .password-pop .promotion_group-notification .promotion_group-notion {
  line-height: 1.2rem;
}
.mask .headicon-pop .date-alert,
.mask .truename-pop .date-alert,
.mask .gender-pop .date-alert,
.mask .date-pop .date-alert,
.mask .promotion_group-pop .date-alert,
.mask .password-pop .date-alert {
  color: #ff4965;
  font-size: .5rem;
  padding-left: .6rem;
  padding-top: 0.4rem;
}
.mask .headicon-pop .passwordedit,
.mask .truename-pop .passwordedit,
.mask .gender-pop .passwordedit,
.mask .date-pop .passwordedit,
.mask .promotion_group-pop .passwordedit,
.mask .password-pop .passwordedit,
.mask .headicon-pop .repasswordedit,
.mask .truename-pop .repasswordedit,
.mask .gender-pop .repasswordedit,
.mask .date-pop .repasswordedit,
.mask .promotion_group-pop .repasswordedit,
.mask .password-pop .repasswordedit {
  width: 70%;
  margin: 0 auto;
  height: 1.5rem;
  margin-top: 0.5rem;
  border: 0;
  border: .05rem solid #e4e4e4;
  font-size: .7rem;
  background-color: #f2f2f2;
  padding-left: .4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  border-radius: .15rem;
  -webit-appearance: none;
}
.mask .pop-title {
  height: 2rem;
  font-size: .9rem;
  border-bottom: .05rem solid #e4e4e4;
  line-height: 2rem;
  padding-left: .4rem;
  color: #333333;
}
.mask .pop-sure {
  position: absolute;
  height: 1.7rem;
  bottom: 0;
  width: 100%;
  border-top: 0.05rem solid #e4e4e4;
}
.mask .pop-cancle,
.mask .pop-confirm {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 1.7rem;
  line-height: 1.7rem;
  font-size: .7rem;
  text-align: center;
  color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.mask .pop-cancle {
  border-right: .05rem solid #e4e4e4;
  left: 0;
  color: #666666;
}
.mask .pop-confirm {
  right: 0;
  color: #ff4965;
}
.edit-mobile-page {
  display: none;
}
