<!--#include file="/tpl/head.html"-->
<!--#include file="/tpl/navbar.html"-->
    <section class="search-item">
        <ul class="nav">
            <li id="tab1" class="item-sorted-popularity current">人气</li>
            <li id="tab2" class="item-sorted-price">价格</li>
            <li id="tab3" class="item-filter">筛选</li>
        </ul>
    </section>
    
    <section class="result-content"></section>
    
    <section class="wait">请稍等</section>
    
    <section class="filter">
        <section class="filter_navbar">
            <a class="back-btn"></a>
            <h1 class="title">筛选</h1>
        </section>
        <section class="filter_body">
            <section class="filter_cates">
                <div class="brand">类别</div>
                <div class="cates_content"></div>
            </section>
            <section class="filter_brands">
                <div class="brand">品牌</div>
                <div class="cates_content"></div>
            </section>
            <section class="complete_button">完成</section>
        </section>
    </section>
    
    <script type="text/template" id="filter_cates_template">
        <div class="cates_button current" data-id="0">全部</div>
        {{each class_list as value index}}
        <div class="cates_button" data-id="{{index}}">{{value}}</div>
        {{/each}}
    </script>
    <script type="text/template" id="filter_brand_template">
        <div class="brands_button current" data-id="0">全部</div>
        {{each brand_list as value index}}
        <div class="brands_button" data-id="{{index}}">{{value}}</div>
        {{/each}}
    </script>
    
    <script id="product-list-template" type="text/template">
        <div class="grid item-list">
            {{each goods_list as value index}}
            <a class="col-6 row-8 item" href="/detail/detail.html?id={{value.goods_id}}">
                {{if value.goods_type > 0}}
                <span class="oversea-tips">海外购</span>
                {{/if}}
                <div class="row-6 item-img">
                    <img class="lazy" src="/img/blank.png" data-original="{{value.img_url}}" alt="{{value.goods_name}}" >
                </div>
                <div class="row-2 item-info">
                    <div class="title">
                        <img class="ico-national-flag" src="{{value.country_icon}}" />
                        <p class="desc">{{value.goods_name}}</p>
                    </div>
                    <div class="detail">
                        <div class="price">
                                <span class="price-discount"><span>&yen;</span>{{value.goods_promotion_price*1}}
                                </span>
                                <span class="price-original"><span>&yen;</span>{{value.goods_marketprice*1}}
                                </span>
                            <span class="discount">{{value.discount}}折</span>
                        </div>
                    </div>
                </div>
				{{if value.tag}}<img class="ico-label" src="/img/{{value.tag}}.png">{{/if}}
            </a>
            {{/each}}
        </div>
    </script>
	<link rel="stylesheet" href="/css/category_list.css" />
    <script type="text/javascript" src="/js/category_list.js"></script>
    <script>
    	title = '分类列表';
    </script>
</body>
</html>