<!--#include file="/tpl/head.html"-->
<!--#include file="/tpl/navbar.html"-->
    <section class="search">
        <div class="search-input">
            <span class="magnifier"></span>
            <input type="text" placeholder="发现你喜欢的商品"/>
        </div>
        <a href="#" class="search-button search-button-show">搜索</a>
    </section>
    
    <section class="category"></section>

    <script type="text/template" id="tpl">
        {{each class_list as value index}}
        <div class="category-header">{{value.gc_name}}</div>
        <section class="category-content">
            {{each value.class2 as value2 index2}}
			{{if value2.gc_id}}
			<a href="/category/category_list.html?cate={{value2.gc_id}}" class="category-item">
                <img class="lazy" src="/img/blank.png" data-original="{{value2.img}}">
                <p class="category-desc">{{value2.gc_name}}</p>
			</a>
			{{else}}
			<a href="javascript:void(0);" class="category-item">&nbsp;</a>
			{{/if}}
            </a>
            {{/each}}
        </section>
        {{/each}}
    </script>
    
    <script type="text/template" id="cate-template">
        {{each class_list as value index}}
        <div class="category">
            <label class="cate-name">{{value.gc_name}}</label>
            <div class="cate-items">
                {{each value.class2 as value2 index2}}
				{{if value2.gc_id}}
                <a href="/category/category_list.html?cate={{value2.gc_id}}" class="cate-item">{{value2.gc_name}}</a>
				{{else}}
                <a href="javascript:void(0);" class="cate-item">&nbsp;</a>
				{{/if}}
				{{/each}}
            </div>
        </div>
        {{/each}}
    </script>
	<link rel="stylesheet" href="/css/search.css" />
    <script type="text/javascript" src="/js/search.js"></script>
    <script>
    	title = '搜索';
    </script>
</body>
</html>