<!--#include virtual="/tpl/head.html"-->
<!--#include virtual="/tpl/navbar.html"-->
    <section class="grid-wrap item-nav">
        <nav class="grid">
            <a class="col-3 row-1 item-show-stock">有货</a>
            <a class="col-3 row-1 item-sorted-popularity">人气</a>
            <a class="col-3 row-1 item-sorted-price">价格</a>
            <a class="col-3 row-1 item-filter">筛选</a>
        </nav>
    </section>
    <section class="wrapper">
        <section class="brand-story"></section>
        <section class="grid-wrap">
            <ul class="grid item-list"></ul>
        </section>
    </section>
    <div class="loading">正在加载...</div>
    <section class="footer"></section>
    <div class="toolbar">
        <a href="/trade/cart.html"></a>
    </div>
    <script id="brand-story-template" type="text/template">
        <img src="{{brandsale.image_url}}">
        <div class="brand-status">
			<div class="item-promotion">{{if brandsale.preferential}}<p class="mj">满减</p><p class="mj-content marquee"><span>{{brandsale.preferential}}</span></p>{{/if}}</div>
            <div class="item-countdown"></div>
        </div>
        <p class="brand-intro">{{brandsale.intro}}</p>
        <div class="show-control show-more"></div>
        <div class="show-control show-less hidden"></div>
        <div style="clear: both"></div>
    </script>
	<!--#include virtual="/tpl/goods_list.html"-->
    <script id="refinements-template" type="text/template">
        <ul class="refinement hidden">
            {{each brandsale.brandsale_cate as value index}}
            <li {{if index==0 }}class="selected" {{/if}} data-filter="{{index}}">{{value.gc_name}}({{value.num}})</li>
            {{/each}}
        </ul>
    </script>
	<link rel="stylesheet" href="/css/home/brandsale.css<!--#include virtual='/tpl/version.html'-->" />
    <script type="text/javascript" src="/js/home/brandsale.js<!--#include virtual='/tpl/version.html'-->"></script>
</body>
</html>