<!--#include virtual="/tpl/head.html"-->
<!--#include virtual="/tpl/navbar.html"-->
	<!-- 内容盒子 -->
	<section class="wrapper">
		<section id="slider" class="swipe">
			<div class='swipe-wrap'></div>
			<script id="slider-template" type="text/template">
				{{each goods_image_mobile as value index}}
				<img src="{{value}}" />
				{{/each}}
			</script>
			<div class="countdown-container">
				<div class="item-countdown"></div>
			</div>
			<div class="slider-index">1/1</div>
		</section>
	
	
		<!-- 详细描述 -->
		<section class="item-base">
			<script id="item-base-template" type="text/template">
				<section class="base-info">
					<div class="left-desc">
						<div class="desc-title">
							{{if goods_info.country_id > 0}}
							<img src="{{country.country_img_url}}" class="oversea-country"/>
							<span class="oversea-country-name">{{country.country_name}}</span>
							{{else if goods_info.promotion_type == 'groupbuy'}}
							<span>限量特卖</span>
							{{else}}
							<span>今日特卖</span>
							{{/if}}
							{{goods_info.goods_name}}
						</div>
						{{if goods_info.goods_jingle}}
						<p class="desc">
							{{goods_info.goods_jingle}}
						</p>
						{{/if}}
					</div>
					<div class="right-collection">
						<div class="collection"></div>
						<div class="col">收藏</div>
					</div>
				</section>
				{{if goods_info.country_id > 0}}
				<section class="oversea-base-price">
					<div class="oversea-price-wrap">
						<span class="oversea-now-price">
							<span class="oversea-brand">免税价</span>
							<span>&yen;</span>
							<span class="oversea-price">{{goods_info.goods_promotion_price}}</span>
							<span class="oversea-discount">{{goods_info.discount}}折</span>
							{{if !goods_info.transport_id && goods_info.goods_freight <= 0}}
							<span class="oversea-discount">免邮</span>
							{{/if}}
						</span>
						<span class="oversea-origin-price">
							<span>国内价</span>
							<span class="oversea-price">&yen;{{goods_info.goods_marketprice}}</span>
						</span>
					</div>
					{{if goods_info.send_area_name}}
					<div class="oversea-shipments">
						<div class="shipments-wrap">
                        	<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAAXVBMVEUAAACYSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+YSv+I5eaeAAAAHnRSTlMArAbHTe7m4KQ7Hw3Q8Ny1n5SSh3p0aFtCu7pVGBfhHV/EAAAAe0lEQVQY04WRxxaFIAwFQbDw9PXe5v8/U0VPNok6mxxmQcp1E21d7ZymCHhncIFk6AcEQ7+AqPW/hPJ4lnecJ+gArqKrfZtrA9SF6BtNrk+Ak+gEbz8QGPGZ+7DIAU1c0gk+6hPV0h5wfR3hJ8urU33Nw3ZrMWyHpiPuAaFEDs1GX4oIAAAAAElFTkSuQmCC"/>
							<span>发货:</span>
							5天内{{goods_info.send_area_name}}发货,预计发货后10天内到达
						</div>
					</div>
					{{/if}}
				</section>
				{{else if goods_info.promotion_type == 'groupbuy'}}
				<section class="base-price">
					<div class="price-wrap">
						<span class="now-price">
							<span style="font-size: .6rem">限量购</span>
							<span>&yen;</span>{{goods_info.goods_promotion_price}}
						</span>
						<span class="origin-price">
							<span>&yen;</span>{{goods_info.goods_marketprice}}
						</span>
						<a class="discount">{{goods_info.discount}}折</a>
						{{if !goods_info.transport_id && goods_info.goods_freight <= 0}}
						<a class="discount">免邮</a>
						{{/if}}
					</div>
				</section>
				{{else}}
				<section class="base-price">
					<div class="price-wrap">
						<span class="now-price">
							<span>&yen;</span>{{goods_info.goods_promotion_price}}
						</span>
						<span class="origin-price">
							<span>&yen;</span>{{goods_info.goods_marketprice}}
						</span>
						<a class="discount">{{goods_info.discount}}折</a>
						{{if !goods_info.transport_id && goods_info.goods_freight <= 0}}
						<a class="discount">免邮</a>
						{{/if}}
					</div>
				</section>
				{{/if}}
				<section class="base-rebate">
					{{if mansong_info && mansong_info.mansong_name}}
					<div class="promotions">
						<span class="rebate-ico" style="background-image: url('/img/img_detail_tag3_v1.png')"></span>
						<span>{{mansong_info.mansong_name}}</span>
					</div>
					{{/if}}
					{{if gift_array.length>0}}
					<div class="promotions">
						<span class="rebate-ico" style="background-image: url('/img/img_detail_tag3_v1.png')"></span>
						<span>数量有限，赠完为止</span>
					</div>
					{{/if}}
				</section>
			</script>
		</section>
	
		<!-- 颜色和尺寸 -->
		<section class="grid-wrap item-sku">
			<script id="item-sku-template" type="text/template">
				{{if goods_map_spec.length>0}}
				<div class="grid">
					<div>
						{{each goods_map_spec as value index}}
						<h5>{{value.goods_spec_name}}</h5>
						<ul>
							{{each value.goods_spec_value as val ind}}
							<li class="col-{{value.len}}"><a href="javascript:void(0);"{{if goods_info.goods_spec[val.specs_value_id]}} class="active"{{/if}} sku-vid="{{val.specs_value_id}}">{{val.specs_value_name}}</a></li>
							{{/each}}
						</ul>
						{{/each}}
					</div>
				</div>
				{{/if}}
			</script>
		</section>
	
	
		<!-- 买家口碑 -->
		<section class="item-discuss">
			<script id="item-discuss-template" type="text/template">
				<h5>买家口碑({{goods_info.evaluation_count}})</h5>
				{{each goodsevallist as value index}}
				<div class="discuss">
					<div class="discuss-title">
						<div class="stars-grey">
							<div class="stars-red stars-{{value.geval_scores * 2}}"></div>
						</div>
						<div class="account">{{value.geval_frommembername}}</div>
					</div>
					<p class="discuss-content">
						{{value.geval_content}}
					</p>
				</div>
				{{/each}}
				<div class="more-discuss">更多买家口碑</div>
			</script>
		</section>
	
	
		<!-- 进入专场 -->
		<section class="item-special">
			<script id="item-special-template" type="text/template">
				<div class="special-wrap">
					<div class="special-top">
						{{if brandsale.brand_name}}
						<img src="{{brandsale.brand_pic_url}}"/>
						<div class="special-desc">
							<div class="special-title">{{brandsale.brand_name}}</div>
							<div class="special-content">{{brandsale.special_content}}</div>
						</div>
						{{if brandsale.is_oversea}}
						<a href="/home/brandsale.html?rec_id={{brandsale.rec_id}}" class="special-button">进入专场</a>
						{{else if event_type == 'oversea'}}
						<a href="/home/oversea.html?rec_id={{brandsale.rec_id}}" class="special-button">进入专场</a>
						{{/if}}
						{{/if}}
					</div>
					<ul class="special-center">
						{{each store_info.store_credit as value index}}
						<li>{{value.text}}
							<span>{{value.credit}}</span>
							<span class="special-brand">
								{{value.percent_text}}
							</span>
						</li>
						{{/each}}
					</ul>
					<div class="special-bottom">                                          
						<span>100%正品保证</span>                                          
						<span>全场包邮</span>                                          
						<span>7天无理由退货</span>                                      
					</div>				
				</div>
			</script>
		</section>
	
		<!-- tab -->
		<section class="grid-wrap item-detail">
			<script id="item-detail-template" type="text/template">
				<div class="">
					<div class="nav-box">
						<ul class="nav-wrapper">
							<li id="detail" class="active">商品详情</li>
							<li id="praise">买家口碑</li>
							<li id="qa">常见问题</li>
						</ul>
					</div>
					<div id="detail-wrapper" class="J_tab">
						<div class="detail-introduct">
							<div class="props">
								<span class="pro-name">品牌</span>
								<span>{{goods_info.brand_name}}</span>
							</div>
							{{each goods_info.goods_attr as value index}}
							<div class="props">
								{{each value as pro i}}
								{{if i=='name'}}
								<span class="pro-name">{{pro}}</span>
								{{else}}
								<span>{{pro}}</span>
								{{/if}}
								{{/each}}
							</div>
							{{/each}}
						</div>
					</div>
					<div id="praise-wrapper" class="J_tab">
						<div class="total-rate">
							<span class="rate-title">商品满意度</span>
							<span class="score">{{goods_info.evaluation_good_star}}.0</span>
								<span class="rate-stars-contain">
									<span class="rate-stars-grey">
										<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIMAAAAWCAMAAADU6N+kAAAAV1BMVEUAAADZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dl19SJdAAAAHHRSTlMA+e706eDZhGtGLCMdEQ3Kia+pl3t2dVJLOBgExat86AAAALxJREFUSMfF0EkOwyAQRNEyno3B89z3P2foSJZwnHV3LQD9twPRejymQRttgC5dBRUXoEoVEVXhViSfhZ55QJFK4pXhpUZt+u1pC2iQq5exoHvFuNROmMqc3stLSFL7t/M3CZLNXjmzCJOkxvxk03CWpSN95PTgKE11EuWk5iRPQ9QHDgrURb3joEAm6oaDPHmK5wEFaoiXdAnxmlDkaec6WdiJZQ9Fnioy/Qne2Ruqwi1P6+xwz81rOEXpA3WYeMQK2izyAAAAAElFTkSuQmCC"/>
									</span>
									<span id="rate-stars-red" class="stars-{{goods_info.evaluation_good_star*2}}">
										<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIMAAAAWCAMAAADU6N+kAAAAV1BMVEUAAAD/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWVhjSTKAAAAHHRSTlMA+fTu6eDZhGtGLCMdEQ3Kia+pl3t2dVJLOBgEy+DTxwAAALtJREFUSMfF0EkOhDAMRNEizISEefb9z9lxS0ih6bVdG0f/7YJoPR7ToI02QJeugooLUKWKiKpwFclnoWceUKSSeGV4qVFrvt20gAa5ehkLuleMS+2EqczpvbyEJLV/O3+TINnslTOLMElq0p+cNpxl6TCPbA6O0lQnUU5qTvI0RH3goEBd1DsOCpRGPeUgT57ieUCBGuIlXUK8JhR52rlOFnZi2UORp4pMf4J39oaqcOVpnR3uuXnlI0kfRzB4xIQvyyUAAAAASUVORK5CYII="/>
									</span>
								</span>
						</div>
						<ul class="praise-button">
							<li><a class="active" data="0">全部</a></li>
							<li><a data="1">好评</a></li>
							<li><a data="2">中评</a></li>
							<li><a data="3">差评</a></li>
						</ul>
						<div id="discuss-content"></div>
					</div>
					<div id="qa-wrapper" class="J_tab">
						{{if goods_info.goods_type==0}}
						<div>
							<p class="question">商品有哪些正品保证方案？</p>
							<p class="answer">亲亲网上所售卖的所有特卖商品均经过品牌授权，确保正品，CIC中华财险为您购买的每一件商品进行承保。若检验出非正品，保险公司将按实付金额的三倍进行赔偿。</p>
						</div>
						<div>
							<p class="question">如何选择商品尺码？</p>
							<p class="answer">品牌商在详情页面会放置所售商品的尺码表，可能会存在1-2cm的正常误差范围。建议您以平时购买尺码对照选择，买家口碑处其他妈妈的评价也可供参考。如果实在拿不准，买大不买小~</p>
						</div>
						<div>
							<p class="question">订单什么时候发货？</p>
							<p class="answer">用户下单完成系统通知品牌商开始发货。发货后，您可以在“我的订单”中查看发货状态。由于部分快递公司无法实时更新信息， 您看到的物流情况可能会有延迟。</p>
						</div>
						<div>
							<p class="question">订单使用什么快递发货？包邮政策是什么？</p>
							<p class="answer">
								品牌商会在商品参数处填写默认快递，也会根据你的地址自动匹配当地运营较好的快递公司。如果您有特殊需求，可在提交订单时备注。
								<br>亲亲网实行全场包邮，除部分偏远地区外（如新疆、西藏、内蒙古等），您无需承担邮费。
							</p>
						</div>
						<div>
							<p class="question">购买后不喜欢能退货吗？</p>
							<p class="answer">
							所有特卖商品，您签收之日起的7天内，未经穿着不影响二次销售的情况下，亲亲网为您提供七天无理由退货服务。</p>
						</div>
						{{else}}
						<div class="page-wrapper">
							<div class="diff-wrapper">
								<ul>
									<h4 class="title-fontSize color-purple"><img src="/img/color-purple.png">亲亲海外购</h4>
									<li>全部中文介绍，招商团队全球精选</li>
									<li>支付宝、网银、信用卡支付</li>
									<li>保税区、海外仓、国内中转仓，三种方式直发，时效保障</li>
									<li>海关全程监管，享受行邮免税政策</li>
									<li>支持国内仓退货，退货运费提供补贴</li>
									<li>贴心国内客服团队，政策统一，全程一站式服务</li>
								</ul>
								<ul>
									<h4 class="title-fontSize"><img src="/img/color-purple2.png">传统海淘</h4>
									<li>外语很难看懂，商品繁杂无从下手</li>
									<li>必须用国外信用卡、Paypal等外币支付</li>
									<li>转运环节复杂，额外付款，运输长达45天，费时费力费钱</li>
									<li>非正规渠道入关，或产生关税由顾客自己承担</li>
									<li>经常无法退货，或退货费用高</li>
									<li>出现问题转运仓和商家互相推卸责任，外语客服沟通困难</li>
								</ul>
							</div>
							<div class="help-wrapper">
								<div class="help-info help-oversea-questions">
									<div class="question-container">
										<a class="show-question" href="javascript:void(0);">
											<div class="question-title title-fontSize">商品来自哪里？<i class="down-arrow"></i>
											</div>
										</a>
										<p class="hidden">我们的专业招商团队，确保所有的品牌均为海外优质品牌，主要是由海外品牌商或品牌代理经销商等供应商提供，让您轻松享受到国外优质原装进口商品。</p>
									</div>
	
									<div class="question-container">
										<a class="show-question" href="javascript:void(0);">
											<div class="question-title title-fontSize">为何商品从宁波等国内仓发出？<i class="down-arrow"></i>
											</div>
										</a>
										<p class="hidden">保税区发货，是亲亲网与政府、海关、国检等部门合作的一种全新海外购模式：以批量运输方式进入中国境内，在保税区储存，当您在亲亲网成功下单后，商品会直接从保税区仓库用国内快递直接发出</p>
									</div>
	
									<div class="question-container">
										<a class="show-question" href="javascript:void(0);">
											<div class="question-title title-fontSize">我还要额外缴纳关税么？<i class="down-arrow"></i>
											</div>
										</a>
										<p class="hidden">依据《中华人民共和国进境物品归类表》，以商品实际销售价格作为完税价格（征税基数），参照行邮税税率征收进境物品进口税，应征税在50元以下（含50元），海关予以免征，您不需要担心承担任何额外关税。</p>
									</div>
	
									<div class="question-container">
										<a class="show-question" href="javascript:void(0);">
											<div class="question-title title-fontSize">我要承担国际物流和国内物流费用么？<i class="down-arrow"></i>
											</div>
										</a>
										<p class="hidden">您不需要承担国际物流和国内物流费用，国内偏远地区除外（新疆、西藏、内蒙古）</p>
									</div>
	
									<div class="question-container">
										<a class="show-question" href="javascript:void(0);">
											<div class="question-title title-fontSize">订单什么时候发货？大概多久我能收到货？<i class="down-arrow"></i>
											</div>
										</a>
										<p class="hidden">由于海关通关需要时间，一般3天内能完全清关发货，最长7天内发货。发货之后一般3-5天内能收到货，您可以在我的订单查看快递状态，由于快递公司无法及时更新发货信息，您可能看到的状态会有所延迟。</p>
									</div>
	
									<div class="question-container">
										<a class="show-question" href="javascript:void(0);">
											<div class="question-title title-fontSize">我为什么会一个订单收到多个包裹？<i class="down-arrow"></i>
											</div>
										</a>
										<p class="hidden">由于海外购的特殊性以及可能来自不同的供货商，这是正常情况，您的订单可能会被拆成多个订单，如果你提前收到了1个包裹，那么不要急，这个订单的其他包裹也就很快会到手啦</p>
									</div>
	
									<div class="question-container">
										<a class="show-question" href="javascript:void(0);">
											<div class="question-title title-fontSize">亲亲海外购是否支持退货？<i class="down-arrow"></i>
											</div>
										</a>
										<p class="hidden">支持退货，商品问题导致退货由亲亲提供提供运费补贴，同省补贴不超过10元，非同省不超过20元，特定地区不超过25元（特定地区指：新疆、西藏、内蒙古）。</p>
									</div>
	
									<div class="question-container">
										<a class="show-question" href="javascript:void(0);">
											<div class="question-title title-fontSize">如何享受售后服务？<i class="down-arrow"></i>
											</div>
										</a>
										<p class="hidden">有任何售前售后问题，可通过以下两种方式咨询：联系在线客服，或拨打客户电话：400-668-0000。客服工作时间：周一到周日9：00-22：00，法定假日除外。</p>
									</div>
								</div>
							</div>
						</div>
						{{/if}}
					</div>
				</div>
			</script>
		</section>
	</section>
	<script id="praise-discuss-template" type="text/template">
		{{each goodsevallist as val ind}}
		<div class="discuss">
			<div class="discuss-title">
					<span class="discuss-stars-contain">
						<span class="discuss-stars-grey">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIMAAAAWCAMAAADU6N+kAAAAV1BMVEUAAADZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dl19SJdAAAAHHRSTlMA+e706eDZhGtGLCMdEQ3Kia+pl3t2dVJLOBgExat86AAAALxJREFUSMfF0EkOwyAQRNEyno3B89z3P2foSJZwnHV3LQD9twPRejymQRttgC5dBRUXoEoVEVXhViSfhZ55QJFK4pXhpUZt+u1pC2iQq5exoHvFuNROmMqc3stLSFL7t/M3CZLNXjmzCJOkxvxk03CWpSN95PTgKE11EuWk5iRPQ9QHDgrURb3joEAm6oaDPHmK5wEFaoiXdAnxmlDkaec6WdiJZQ9Fnioy/Qne2Ruqwi1P6+xwz81rOEXpA3WYeMQK2izyAAAAAElFTkSuQmCC"/>
						</span>
						<span class="discuss-stars-red stars-{{val.geval_scores * 2}}">
                        	<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIMAAAAWCAMAAADU6N+kAAAAV1BMVEUAAAD/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWX/SWVhjSTKAAAAHHRSTlMA+fTu6eDZhGtGLCMdEQ3Kia+pl3t2dVJLOBgEy+DTxwAAALtJREFUSMfF0EkOhDAMRNEizISEefb9z9lxS0ih6bVdG0f/7YJoPR7ToI02QJeugooLUKWKiKpwFclnoWceUKSSeGV4qVFrvt20gAa5ehkLuleMS+2EqczpvbyEJLV/O3+TINnslTOLMElq0p+cNpxl6TCPbA6O0lQnUU5qTvI0RH3goEBd1DsOCpRGPeUgT57ieUCBGuIlXUK8JhR52rlOFnZi2UORp4pMf4J39oaqcOVpnR3uuXnlI0kfRzB4xIQvyyUAAAAASUVORK5CYII="/>
						</span>
					</span>
				<span class="discuss-account">{{val.geval_frommembername}}</span>
			</div>
			<div class="show-img">
				{{each val.geval_image_arr as img i}}
				<img class="lazy" src="/img/blank.png" data-original="{{img}}">
				{{/each}}
			</div>
			<p class="discuss-content">
				{{val.geval_content}}
			</p>
		</div>
		{{/each}}
	</script>
	
	<!-- footer -->
	<section class="footer"></section>
	<div class="cart-hint">
		成功加入购物车<a href="/trade/cart.html">立即结算&nbsp;&nbsp;></a>
	</div>
	<section class="ft-bar">
		<a class="cart" href="/trade/cart.html">
			<span class="cart-num-cont">
				<span class="cart-num">0</span>
			</span>
		</a>
		<a class="cart-add" href="javascript:void(0);">加入购物车</a>
		<a class="cart-price"></a>
	</section>
	<link rel="stylesheet" href="/css/home/detail.js<!--#include virtual='/tpl/version.html'-->" />
    <script type="text/javascript" src="/js/swipe.js<!--#include virtual='/tpl/version.html'-->"></script>
    <script type="text/javascript" src="/js/home/detail.js<!--#include virtual='/tpl/version.html'-->"></script>
</body>
</html>