<!--#include virtual="/tpl/head.html"-->
<!--#include virtual="/tpl/navbar.html"-->
    <section class="wrapper">
        <div class="time-tablist">
			<div class="time-tab active">
                <p class="time">9:00</p>
                <p class="status">疯抢中</p>
                <div class="arrow"></div>
            </div>
            <div class="time-tab">
                <p class="time">明日9点</p>
                <p class="status">抢先看</p>
                <div class="arrow"></div>
            </div>
            <div class="time-tab" style="padding-top:.64rem;">
                最后疯抢
                <div class="arrow"></div>
            </div>
		</div>
        <div class="time-countdown">
            <p class="title">全球爆款限时疯抢中</p>
			<p class="sub-tit countdown"></p>
        </div>
        <section class="itemlist-wrapper">
			<div class="hot-list"></div>
			<div class="loading">正在加载...</div>
		</section>
    </section>
    <section class="footer"></section>
    <!-- 商品列表模板 -->
    <script type="text/template" id="oversea-hot-list-tpl">
        {{each group_list as value index}}
        <a class="item{{if value.goods_storage <= 0}} soldout{{/if}}" href="/home/detail.html?id={{value.goods_id}}">
            <div class="soldout-icon">已抢光</div>
			<img class="img-cnt lazy" src="/img/blank.png" data-original="{{value.img_url}}">
            <div class="item-detail">
                <p class="title">
                    <img class="ico-flag" src="{{value.country_icon}}" /> {{value.goods_name}}
                </p>
                <p class="desc">{{value.goods_jingle}}</p>
                <p class="price">&yen;{{value.goods_promotion_price*1}}<span class="ori-price">&yen;{{value.goods_marketprice*1}}</span></p>
                {{if value.soon}}
                <div class="btn btn-save">未开始</div>
                {{else}}
                <div class="btn">{{if value.goods_storage <= 0}}已抢光{{else}}立即抢{{/if}}</div>
                {{/if}}
            </div>
        </a>
		{{/each}}
    </script>
	<link rel="stylesheet" href="/css/home/oversea_hot.js<!--#include virtual='/tpl/version.html'-->" />
    <script type="text/javascript" src="/js/home/oversea_hot.js<!--#include virtual='/tpl/version.html'-->"></script>
</body>
</html>