<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="亲亲网是国内首家承诺“百分百正品”的化妆品团购特卖网站,销售国内外知名化妆品、护肤品、彩妆等上万种商品,海外直邮,30天无条件退换,我们只卖正品!" />
    <meta name="keywords" content="亲亲网,正品化妆品商城,韩国化妆品,化妆品特卖网站,化妆品全球购" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <title>品牌特卖 - 亲亲美站</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" media="screen" />
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
	<link rel="stylesheet" href="/css/common.css" />
	<link rel="stylesheet" href="/css/brandsale_list.css" />
</head>
<body>
    <section class="header">
        <section class="navbar">
			<a class="back-btn" href="javascript:history.back();"></a>
            <h1 class="title"></h1>
            <a class="home-btn" href="/"></a>
        </section>
    </section>
    <section class="wrapper">
        <section class="filterbar"></section>
        <section class="itemlist-brand"></section>
        <div class="loading">
            正在加载...
        </div>
    </section>
    <section class="footer"></section>
    <div class="toolbar">
        <a href="/trade/cart.html"></a>
    </div>
	<a href="javascript:;" class="backtop"></a>
    <script id="filterbar-template" type="text/template">
        <div class="filterbar-dropdown-mask hidden"></div>
        <div class="filterbar-dropdown hidden" style="top: 0px;">
            <div class="filterbar-dropdown-item active" data-categoy="index">
                <div class="filterbar-dropdown-item-inner">上新</div>
            </div>
            <div class="filterbar-dropdown-item" data-category="lastminute">
                <div class="filterbar-dropdown-item-inner">最后疯抢</div>
            </div>
            {{each brandsale_class as value index}}
            <div class="filterbar-dropdown-item" data-category="{{value.gc_id}}">
                <div class="filterbar-dropdown-item-inner">{{value.gc_name}}</div>
            </div>
            {{/each}}
        </div>
        <div class="filterbar-inner-container">
            <div class="filterbar-inner-mask hidden">
                <p>分类列表</p>
            </div>
            <div class="filterbar-inner-wrapper">
                <div class="filterbar-inner">
                    <div class="filterbar-inner-item active" data-category="index">上新</div>
                    <div class="filterbar-inner-item" data-category="lastminute">最后疯抢</div>
                    {{each brandsale_class as value index}}
                    <div class="filterbar-inner-item" data-category="{{value.gc_id}}">{{value.gc_name}}</div>
                    {{/each}}
                </div>
            </div>
            <div class="filterbar-more">
                <i class="show-more"></i>
            </div>
        </div>
    </script>
    <script id="item-list-template" type="text/template">
        {{each brandsale_list as value index}}
        <a href="/brandsale.html?rec_id={{value.rec_id}}" class="item-box">
            <div class="item-box-content">
                <img class="lazy" src="/img/blank.png" data-original="{{value.img_url}}">
				{{if value.preferential!=''}}
                <div class="item-box-promotion">
                    <p>{{value.preferential}}</p>
                    <div class="background"></div>
                </div>
                {{/if}}
            </div>
            <div class="item-box-header">
                <div class="item-box-discount">
                    {{if value.isnew}}
                    <i></i>
					{{/if}}
					{{value.discount}}折起
                </div>
                <div class="item-title">
                    {{value.name}}
                </div>
                {{if value.timer.day > 1}}
                <div class="item-timer">
                    剩{{value.timer.day}}天
                </div>
                {{else if value.timer.hour > 1}}
                <div class="item-timer red">
                    剩{{value.timer.hour}}小时
                </div>
                {{else}}
                <div class="item-timer red">
                    剩{{value.timer.minute}}分钟
                </div>
                {{/if}}
            </div>
        </a>
        {{/each}}
    </script>
	<script type="text/template" id="empty-list-template">
        <div class="empty">
            <div class="icon"></div>
            <p>暂无特卖品牌</p>
            <a class="button" href='/'>逛逛今日特卖</a>
        </div>
    </script>
    <script type="text/javascript" src="/js/zepto.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/brandsale_list.js"></script>
</body>
</html>