<!--#include file="/tpl/head.html"-->
    <section class="navbar">
        <a class="myaccount" href="/mine/index.html"></a>
        <h1 class="title">亲亲美站</h1>
        <a class="search-btn" href="/category/search.html"></a>
    </section>
    <section class="wrapper">
        <section class="filterbar"></section>
        <section class="slider"></section>
        <section class="catebox">
			<div class="grid">
				<a class="col-3" href="/tuan/group_list.html"><i></i>限量购</a>
				<a class="col-3" href="/app/top.html"><i></i>TOP排行</a>                   
				<a class="col-3" href="/oversea/oversea_index.html"><i></i>海外购</a>                 
				<a class="col-3" href="/category/category_index.html"><i></i>更多分类</a>     
			</div>
		</section>
        <section class="grid-thin ad"></section>
        <section class="itemlist-brand">
			<header><i></i>
				<span>热门特卖</span>
			</header>
        </section>
		<section class="grid-wrap"></section>
    </section>
    <section class="footer"></section>
    <div class="toolbar">
        <a href="/trade/cart.html"></a>
    </div>
    <script id="slider-template" type="text/template">
        <img src="{{pic}}" />
    </script>
    <script id="filterbar-template" type="text/template">
        <div class="filterbar-dropdown-mask hidden"></div>
        <div class="filterbar-dropdown hidden" style="top: 0px;">
            <div class="filterbar-dropdown-item active" data-categoy="index">
                <div class="filterbar-dropdown-item-inner">上新</div>
            </div>
            <div class="filterbar-dropdown-item" data-category="lastminute">
                <div class="filterbar-dropdown-item-inner">最后疯抢</div>
            </div>
            {{each gc_id_1_list as value index}}
            <div class="filterbar-dropdown-item" data-category="{{value.gc_id}}">
                <div class="filterbar-dropdown-item-inner">{{value.gc_name}}</div>
            </div>
            {{/each}}
        </div>
        <div class="filterbar-inner-container">
            <div class="filterbar-inner-mask hidden">
                <p>分类列表</p>
            </div>
            <div class="filterbar-inner-wrapper">
                <div class="filterbar-inner">
                    <div class="filterbar-inner-item active" data-category="index">上新</div>
                    <div class="filterbar-inner-item" data-category="lastminute">最后疯抢</div>
                    {{each gc_id_1_list as value index}}
                    <div class="filterbar-inner-item" data-category="{{value.gc_id}}">{{value.gc_name}}</div>
                    {{/each}}
                </div>
            </div>
            <div class="filterbar-more">
                <i class="show-more"></i>
            </div>
        </div>
    </script>
    <script id="ad-template" type="text/template">
        <a class="ad-target1" href="{{ad_target1}}">
            <img class="ad-img1" src="{{ad_img1}}" />
        </a>
        <div class="ad-right">
            <a class="ad-target2" href="{{ad_target2}}">
                <img class="ad-img2" src="{{ad_img2}}" />
            </a>
            <a class="ad-target3" href="{{ad_target3}}">
                <img class="ad-img3" src="{{ad_img3}}" />
            </a>
            <a class="ad-target4" href="{{ad_target4}}">
                <img class="ad-img4" src="{{ad_img4}}" />
            </a>
        </div>
    </script>
    <script id="item-list-template" type="text/template">
        {{each brandsale_list as value index}}
        <a href="/brandsale/brandsale.html?rec_id={{value.rec_id}}" class="item-box">
            <div class="item-box-content">
                <img class="lazy" src="/img/blank.png" data-original="{{value.img_url}}">
				{{if value.preferential!=''}}
                <div class="item-box-promotion">
                    <p>{{value.preferential}}</p>
                    <div class="background"></div>
                </div>
                {{/if}}
            </div>
            <div class="item-box-header">
                <div class="item-box-discount">
                    {{if value.isnew}}
                    <i></i>
					{{/if}}
					{{value.discount}}折起
                </div>
                <div class="item-title">
                    {{value.name}}
                </div>
                {{if value.timer.day > 1}}
                <div class="item-timer">
                    剩{{value.timer.day}}天
                </div>
                {{else if value.timer.hour > 1}}
                <div class="item-timer red">
                    剩{{value.timer.hour}}小时
                </div>
                {{else}}
                <div class="item-timer red">
                    剩{{value.timer.minute}}分钟
                </div>
                {{/if}}
            </div>
        </a>
        {{/each}}
    </script>
    <script id="goods-list-template" type="text/template">
		{{each recommend_goods_list as value index}}
		<header><i></i>
			<span>{{value.gc_name}}推荐</span>
		</header>
		<ul class="grid item-list">
			{{each value.list as val key}}
			<li class="col-6 row-8 item">
				<a href="/detail/detail.html?id={{val.goods_id}}">
					<div class="row-6 item-img">
						<img class="lazy" src="/img/blank.png" data-original="{{val.img_url}}" alt="{{val.goods_name}}" >
						{{if val.goods_storage <= 0}}
						<i class="sold-out"></i>
						{{/if}}
					</div>
					<div class="row-2 item-info">
						<div class="title util-ellipsis">{{val.goods_name}}</div>
						<div class="item-detail">
							<div class="price">
								<span class="price-discount">
									<span>¥</span>
									<b>{{val.goods_promotion_price*1}}</b>
								</span>
								<span class="price-original">
									<span>¥</span>
									<b>{{val.goods_marketprice*1}}</b>
								</span>
							</div>
							<div class="discount">{{val.discount}}折</div>
						</div>
					</div>
				</a>
			</li>
			{{/each}}
		</ul>
		{{/each}}
    </script>
	<link rel="stylesheet" href="/css/index.css" />
    <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>