<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="亲亲网是国内首家承诺“百分百正品”的化妆品团购特卖网站,销售国内外知名化妆品、护肤品、彩妆等上万种商品,海外直邮,30天无条件退换,我们只卖正品!" />
    <meta name="keywords" content="亲亲网,正品化妆品商城,韩国化妆品,化妆品特卖网站,化妆品全球购" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <title>亲亲美站</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" media="screen" />
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
	<link rel="stylesheet" href="/css/common.css" />
	<link rel="stylesheet" href="/css/index.css" />
</head>
<body>
    <section class="header">
        <section class="navbar">
            <a class="myaccount" href="/i/i.html"></a>
            <h1 class="title">亲亲美站</h1>
            <a class="search-btn" href="/search/search.html"></a>
        </section>
    </section>
    <section class="wrapper">
        <section class="filterbar"></section>
        <section class="slider"></section>
        <section class="catebox">
			<div class="grid">
				<a class="col-3" href="/group_list.html" title="限量购">
					<i class="cate" style="background-image:url(/img/index_group.png)"></i>
					限量购
				</a>
				<a class="col-3" href="/top.html" title="TOP排行">
					<i class="cate" style="background-image:url(/img/index_top.png)"></i>
					TOP排行   
				</a>                   
				<a class="col-3" href="http://m.beibei.com/oversea/oversea-index.html" title="海外购">
					<i class="cate" style="background-image:url(/img/index_oversea.png)"></i>
					海外购     
				</a>                 
				<a class="col-3" href="http://m.beibei.com/category/product-category.html" title="更多分类">
					<i class="cate" style="background-image:url(/img/index_category.png)"></i>
					更多分类   
				</a>     
			</div>
		</section>
        <section class="grid-thin ad"></section>
        <section class="itemlist-brand">
			<header><i></i>
				<span>热门特卖</span>
			</header>
        </section>
		<section class="grid-wrap"></section>
    </section>
    <section class="footer"></section>
    <div class="toolbar">
        <a href="/trade/cart.html"></a>
    </div>
	<a href="javascript:;" class="backtop"></a>

    <script id="slider-template" type="text/template">
        <img src="{{pic}}" />
    </script>
    <script id="filterbar-template" type="text/template">
        <div class="filterbar-dropdown-mask hidden"></div>
        <div class="filterbar-dropdown hidden" style="top: 0px;">
            <div class="filterbar-dropdown-item active" data-categoy="index">
                <div class="filterbar-dropdown-item-inner">上新</div>
            </div>
            <div class="filterbar-dropdown-item" data-category="lastminute">
                <div class="filterbar-dropdown-item-inner">最后疯抢</div>
            </div>
            {{each brandsale_class as value index}}
            <div class="filterbar-dropdown-item" data-category="{{value.gc_id}}">
                <div class="filterbar-dropdown-item-inner">{{value.gc_name}}</div>
            </div>
            {{/each}}
        </div>
        <div class="filterbar-inner-container">
            <div class="filterbar-inner-mask hidden">
                <p>分类列表</p>
            </div>
            <div class="filterbar-inner-wrapper">
                <div class="filterbar-inner">
                    <div class="filterbar-inner-item active" data-category="index">上新</div>
                    <div class="filterbar-inner-item" data-category="lastminute">最后疯抢</div>
                    {{each brandsale_class as value index}}
                    <div class="filterbar-inner-item" data-category="{{value.gc_id}}">{{value.gc_name}}</div>
                    {{/each}}
                </div>
            </div>
            <div class="filterbar-more">
                <i class="show-more"></i>
            </div>
        </div>
    </script>
    <script id="ad-template" type="text/template">
        <a class="ad-target1" href="{{ad_target1}}">
            <img class="ad-img1" src="{{ad_img1}}" />
        </a>
        <div class="ad-right">
            <a class="ad-target2" href="{{ad_target2}}">
                <img class="ad-img2" src="{{ad_img2}}" />
            </a>
            <a class="ad-target3" href="{{ad_target3}}">
                <img class="ad-img3" src="{{ad_img3}}" />
            </a>
            <a class="ad-target4" href="{{ad_target4}}">
                <img class="ad-img4" src="{{ad_img4}}" />
            </a>
        </div>
    </script>
    <script id="item-list-template" type="text/template">
        {{each brandsale_list as value index}}
        <a href="/brandsale.html?rec_id={{value.rec_id}}" class="item-box">
            <div class="item-box-content">
                <img class="lazy" src="/img/blank.png" data-original="{{value.img_url}}">
				{{if value.preferential!=''}}
                <div class="item-box-promotion">
                    <p>{{value.preferential}}</p>
                    <div class="background"></div>
                </div>
                {{/if}}
            </div>
            <div class="item-box-header">
                <div class="item-box-discount">
                    {{if value.isnew}}
                    <i></i>
					{{/if}}
					{{value.discount}}折起
                </div>
                <div class="item-title">
                    {{value.name}}
                </div>
                {{if value.timer.day > 1}}
                <div class="item-timer">
                    剩{{value.timer.day}}天
                </div>
                {{else if value.timer.hour > 1}}
                <div class="item-timer red">
                    剩{{value.timer.hour}}小时
                </div>
                {{else}}
                <div class="item-timer red">
                    剩{{value.timer.minute}}分钟
                </div>
                {{/if}}
            </div>
        </a>
        {{/each}}
    </script>
    <script id="goods-list-template" type="text/template">
		{{each goods_list as value index}}
		<header><i></i>
			<span>{{value.gc_name}}推荐</span>
		</header>
		<ul class="grid item-list">
			{{each value.list as val key}}
			<li class="col-6 row-8 item">
				<a href="/goods.html?id={{val.goods_id}}">
					<div class="row-6 item-img">
						<img class="lazy" src="/img/blank.png" data-original="{{val.img_url}}" alt="{{val.goods_name}}" >
						{{if val.goods_storage <= 0}}
						<i class="sold-out"></i>
						{{/if}}
					</div>
					<div class="row-2 item-info">
						<div class="title util-ellipsis">{{val.goods_name}}</div>
						<div class="item-detail">
							<div class="price">
								<span class="price-discount">
									<span>¥</span>
									<b>{{val.goods_price}}</b>
								</span>
								<span class="price-original">
									<span>¥</span>
									<b>{{val.goods_marketprice}}</b>
								</span>
							</div>
							<div class="discount">{{val.discount}}折</div>
						</div>
					</div>
				</a>
			</li>
			{{/each}}
		</ul>
		{{/each}}
    </script>
    <script type="text/javascript" src="/js/zepto.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>