<!--#include virtual="/tpl/head.html"-->
    <section class="navbar">
        <a class="myaccount" href="/mine/index.html"></a>
        <h1 class="title">亲亲美站</h1>
        <a class="search-btn" href="/home/search.html"></a>
    </section>
    <section class="wrapper">
        <section class="filterbar"></section>
		<!--#include virtual="/tpl/swipe.html"-->
        <section class="catebox">
			<div class="grid">
				<a class="col-3" href="/home/group_list.html"><i></i>限量购</a>
				<a class="col-3" href="/home/top.html"><i></i>TOP排行</a>                   
				<a class="col-3" href="/home/oversea_index.html"><i></i>海外购</a>                 
				<a class="col-3" href="/home/category.html"><i></i>更多分类</a>     
			</div>
		</section>
        <section class="grid-thin ad"></section>
        <section class="itemlist-brand">
			<header><i></i>
				<span>热门特卖</span>
			</header>
        </section>
		<section class="grid-wrap"></section>
    </section>
    <section class="footer"></section>
    <div class="toolbar">
        <a href="/trade/cart.html"></a>
    </div>
    <script id="filterbar-template" type="text/template">
        <div class="filterbar-dropdown-mask hidden"></div>
        <div class="filterbar-dropdown hidden">
            <div class="filterbar-dropdown-item active" data="index">
                <div class="filterbar-dropdown-item-inner">上新</div>
            </div>
            <div class="filterbar-dropdown-item" data="lastminute">
                <div class="filterbar-dropdown-item-inner">最后疯抢</div>
            </div>
            {{each gc_id_1_list as value index}}
            <div class="filterbar-dropdown-item" data="{{value.gc_id}}">
                <div class="filterbar-dropdown-item-inner">{{value.gc_name}}</div>
            </div>
            {{/each}}
        </div>
        <div class="filterbar-inner-container">
            <div class="filterbar-inner-mask hidden">
                <p>分类列表</p>
            </div>
            <div class="filterbar-inner-wrapper">
                <div class="filterbar-inner">
                    <div class="filterbar-inner-item active" data="index">上新</div>
                    <div class="filterbar-inner-item" data="lastminute">最后疯抢</div>
                    {{each gc_id_1_list as value index}}
                    <div class="filterbar-inner-item" data="{{value.gc_id}}">{{value.gc_name}}</div>
                    {{/each}}
                </div>
            </div>
            <div class="filterbar-more">
                <i class="show-more"></i>
            </div>
        </div>
    </script>
    <script id="ad-template" type="text/template">
		{{each ad_list as value index}}
		{{if index == 1}}<div class="ad-right">{{/if}}
        <a class="ad-target{{index+1}}" href="{{value.ad_url}}">
            <img class="ad-img{{index+1}}" src="{{value.ad_img_url}}" alt="{{value.ad_name}}" />
        </a>
		{{if index == 3}}</div>{{/if}}
		{{/each}}
    </script>
	<!--#include virtual="/tpl/brandsale_list.html"-->
    <script id="goods-list-template" type="text/template">
		{{each recommend_goods_list as value index}}
		<header><i></i>
			<span>{{value.gc_name}}推荐</span>
		</header>
		<ul class="grid item-list">
			{{each value.list as val key}}
			<li class="col-6 row-8 item">
				<a href="/home/detail.html?id={{val.goods_id}}">
					<div class="row-6 item-img">
						<img class="lazy" src="/img/blank.png" data-original="{{val.img_url}}" alt="{{val.goods_name}}" >
						{{if val.goods_storage <= 0}}
						<i class="sold-out"></i>
						{{/if}}
					</div>
					<div class="row-2 item-info">
						<div class="title util-ellipsis">{{val.goods_name}}</div>
						<div class="item-detail">
							<div class="price">
								<span class="price-discount">
									<span>¥</span>
									<b>{{val.goods_price*1}}</b>
								</span>
								<span class="price-original">
									<span>¥</span>
									<b>{{val.goods_marketprice*1}}</b>
								</span>
							</div>
							<div class="discount">{{val.discount}}折</div>
						</div>
					</div>
				</a>
			</li>
			{{/each}}
		</ul>
		{{/each}}
    </script>
	<link rel="stylesheet" href="/css/index.css<!--#include virtual='/tpl/version.html'-->" />
    <script type="text/javascript" src="/js/index.js<!--#include virtual='/tpl/version.html'-->"></script>
</body>
</html>