<!--#include virtual="head.html"-->
    <link rel="stylesheet" href="/css/member/favorite.css" media="all" />
    <section class="navbar J_navbar">
        <a class="back-btn J_backBtn" href="javascript:history.back();"></a>
        <h1 class="title brand-title">我的收藏</h1>
        <span class="word-btn btn-edit">编辑</span>
    </section>
    <section class="container_main select_item">
        <div class="view_name">
            <span view="goods">收藏的商品</span>
            <span view="store">收藏的店铺</span>
            <i class="slide_bar"></i>
        </div>
        <div class="container_view">
            <div class="view_item">
                <div class="container_list grid-wrap">
                </div>
                <div class="btn_del">删除</div>
            </div>
            <div class="view_event">
                <div class="container_list"></div>
                <div class="btn_del">删除</div>
            </div>
        </div>
    </section>
    <!--商品列表模板-->
    <script id="tmpl_list_goods" type="text/template">
        <ul class="grid item-list flag_begining">
            <!--<div class="title_list"><i class="title_left"></i>正在特卖</div>-->
            {{each data as fav_goods}}
            <li class="col-6 row-8 item">
                <a class="target_item" href="javascript:open_url('goods','detial',{{fav_goods.fav_id}})" pid="{{fav_goods.log_id}}">
                    <div class="icon_del"></div>
                    <div class="row-6 item-img">
                        <img class="lazy" src="/img/blank.png" data-original="{{fav_goods.goods_img}}" alt="{{fav_goods.goods_name}}">
                        {{if fav_goods.goods_type ==2}}
                        <div class="trait_oversea"></div>
                        {{/if}}
                        {{if fav_goods.goods_state != 1}}
                        <div class="trait_finished">
                            <div class="brand_finished">
                                <span>已下架</span>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    <div class="row-2 item-info">
                        <div class="title util-ellipsis">{{fav_goods.goods_name}}</div>
                        <div class="item-detail">
                            <div class="price">
                                <span class="price-discount">
                                    <span>¥</span>
                                <b>{{fav_goods.goods_price*1}}</b>
                                </span>
                                <span class="price-original">
                                    <span>¥</span>
                                <b>{{fav_goods.goods_marketprice*1}}</b>
                                </span>
                            </div>
                            <div class="discount">{{fav_goods.goods_discount}}折</div>
                        </div>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
    </script>
    <!--店铺列表模板-->
    <script id="tmpl_list_store" type="text/template">
       <!--{@each _ as listObject} {@if listObject.hasItem}
        <section class="itemlist-brand ${listObject.className}">
            <div class="title_list"><i class="title_left"></i>${listObject.title}</div>
            {@each listObject.list as item}
            <a href="${item.targetUrl}" class="item-box target_item" eid="${item.eid}" bid="${item.bid}">
                <div class="icon_del"></div>
                {@if item.isOversea}
                <div class="trait_oversea"></div>
                {@/if}
                <div class="item-box-content">
                    <img use-lazyload data-src="${item.img}" src="http://b0.hucdn.com/img/h5/spaceball.gif">{@if item.mjPromotion}
                    <div class="item-box-promotion">
                        <p>${item.mjPromotion}</p>
                        <div class="background"></div>
                    </div>
                    {@/if}
                </div>
                <div class="item-box-header">
                    <div class="item-box-discount">
                        ${item.promotion}
                    </div>
                    <div class="item-title">
                        ${item.title}
                    </div>
                    <div class="item-timer ${item.timeClass}">
                        ${item.timeTitle}
                    </div>
                </div>
            </a>
            {@/each}
        </section>
        {@/if} {@/each}-->
    </script>
    <script id="tmpl_empty" type="text/template">
        <div class="container_empty">
            <i></i>
            <p>你还没有喜欢的东东呢,赶紧去逛逛吧</p>
            <div>
                <a href='/'>逛逛今日特卖</a>
            </div>
        </div>
    </script>
    <div class="loading">
        正在加载...
    </div>
    <script type="text/javascript" src="/js/member/favorite.js"></script>
</body>

</html>
