<!--#include virtual="head.html"-->
<script type="text/javascript">
if(window.name != "qinqin"){
     location.reload();
     window.name = "qinqin";
}else{
     window.name = "";
}
</script>
<link href="/css/member/index.css" rel="stylesheet" media="all" />
<!--#include virtual="/tpl/navbar.html"-->
    <section class="grid-wrap wrapper J_wrapper" id="wrapper">
        <div class="my-info"></div>
        <script id="tpl-login" type="text/template">
            <div class="btn-inline">
                <a class="btn-login" href="javascript:open_url('login');">立即登录</a><a class="btn-register" href="javascript:open_url('register');">新人注册</a>
            </div>
        </script>
        <script id="tpl-personal" type="text/template">
            <div class="my-info-cnt">
                <div class="head">
                    <div class="icon-gender" alt="my-pic"><img src="{{data.member_avatar}}"></div>
                </div>
                <div class="info">
                    <p class="my-account"><span>{{data.member_name}}</span><i class="my-grade my-grade-{{data.member_grade_info.level + 1}}"></i></p>
                </div>
            </div>
            <a class="personal" onclick="open_url('userinfo')" href="javascript:void(0)">个人中心</a>
        </script>
        <div class="order-list">
            <ul class="my-list">
                <li class="order-form">
                    <a onclick="open_url('orders','all')" href="javascript:void(0)">全部订单<span class="next-page"></span></a>
                </li>
            </ul>
            <ul class="sum-box" id="sum-orderinfo"></ul>
            <script id="tpl-sum-orderinfo" type="text/template">
                <li>
                    <a onclick="open_url('orders','unpay')" href="javascript:void(0)">
                        <i class="icon pay"></i><i class="icon-num{{if data.unpay <= 0 }} hidden{{/if}}">{{data.unpay}}</i>
                        <p class="">待付款</p>
                    </a>
                </li>
                <li>
                    <a onclick="open_url('orders','unpost')" href="javascript:void(0)">
                        <i class="icon post"></i><i class="icon-num{{if data.unpost <= 0 }} hidden{{/if}}">{{data.unpost}}</i>
                        <p>待发货</p>
                    </a>
                </li>
                <li>
                    <a onclick="open_url('orders','unget')" href="javascript:void(0)">
                        <i class="icon get"></i><i class="icon-num{{if data.unget <= 0 }} hidden{{/if}}">{{data.unget}}</i>
                        <p>待收货</p>
                    </a>
                </li>
                <li>
                    <a onclick="open_url('orders','unjudge')" href="javascript:void(0)">
                        <i class="icon judge"></i><i class="icon-num{{if data.unjudge <= 0 }} hidden{{/if}}">{{data.unjudge}}</i>
                        <p>待评价</p>
                    </a>
                </li>
                <li>
                    <a onclick="open_url('salesupport')" href="javascript:void(0)">
                        <i class="icon sold"></i>
                        <p>我的售后</p>
                    </a>
                </li>
            </script>
            <script id="tpl-sum-orderinfo-logout" type="text/template">
                <li>
                    <a onclick="open_url('orders','unpay')" href="javascript:void(0)">
                        <i class="icon pay"></i><i class="icon-num hidden"></i>
                        <p class="">待付款</p>
                    </a>
                </li>
                <li>
                    <a onclick="open_url('orders','unpost')" href="javascript:void(0)">
                        <i class="icon post"></i><i class="icon-num hidden"></i>
                        <p>待发货</p>
                    </a>
                </li>
                <li>
                    <a onclick="open_url('orders','unget')" href="javascript:void(0)">
                        <i class="icon get"></i><i class="icon-num hidden"></i>
                        <p>待收货</p>
                    </a>
                </li>
                <li>
                    <a onclick="open_url('orders','unjudge')" href="javascript:void(0)">
                        <i class="icon judge"></i><i class="icon-num hidden"></i>
                        <p>待评价</p>
                    </a>
                </li>
                <li>
                    <a onclick="open_url('salesupport')" href="javascript:void(0)">
                        <i class="icon sold"></i>
                        <p>我的售后</p>
                    </a>
                </li>
            </script>
            <ul class="my-list">
                <li class="wallet-form">
                    <a href="javascript:void(0)">我的钱包<span class="next-page hidden"></span></a>
                </li>
            </ul>
            <ul class="sum-box" id="sum-mywallet">
                <li class="wallet-item">
                    <a href="javascript:open_url('coupon')">
                        <i class="icon coupon"></i>
                        <span class="txt">代金券</span><span id="my-point" class="num"></span>
                    </a>
                </li>
                <li class="wallet-item">
                    <a href="javascript:open_url('point')">
                        <i class="icon shell"></i>
                        <span class="txt">积分</span><span id="my-point" class="num"></span>
                    </a>
                </li>
                <li class="wallet-item">
                    <a id="J_balance_tip" href="javascript:open_url('balance');">
                        <i class="icon left"></i>
                        <span class="txt">余额</span><span id="my-balance" class="num"></span>
                    </a>
                </li>
            </ul>
            <ul class="my-list other-list">
                <li class="meizhan">
                    <a href="javascript:open_url('team')" class="div-line">
                         我的美站
                         <span class="income_info"></span>
                        <span class="next-page"></span>
                    </a>
                </li>
            </ul>
            <ul class="tip">
                <li>开启美站,经营美丽生活</li>
            </ul>
            <ul class="my-list other-list" style="margin-top:0">
                <li class="address">
                    <a href="javascript:open_url('address')" class="div-line">
                         收货地址
                        <span class="next-page"></span>
                    </a>
                </li>
                <li class="favourite">
                    <a href="javascript:open_url('favorite')" class="div-line">
                        我的收藏
                        <span class="next-page"></span>
                    </a>
                </li>
                <li class="service">
                    <a href="javascript:open_url('service')" class="div-line">
                         联系客服
                        <span class="next-page"></span>
                    </a>
                </li>
                <li class="friends">
                    <a href="javascript:open_url('about')">
                            关于亲亲
                            <span class="next-page"></span>
                        </a>
                </li>
            </ul>
        </div>
    </section>
    <script type="text/javascript">
        set_title("用户中心");
        // 显示用户基本信息
        getAjaxResult(getUrl('mz_member','getUserInfo'),'tpl-personal',".my-info",'tpl-login','setincome');
        // 显示订单概况
        getAjaxResult(getUrl('mz_member_order','getSimpleOrderInfo'),'tpl-sum-orderinfo','#sum-orderinfo','tpl-sum-orderinfo-logout');
        function setincome(data){
            $(".income_info").html("本期收入：&yen;0");
        }
    </script>
</body>
    
</html>
