<!--#include virtual="head.html"-->
    <link rel="stylesheet" href="/css/member/orders.css<!--#include virtual='/tpl/version.html'-->" />
<!--#include virtual="/tpl/navbar.html"-->
    <section class="wrapper J_wrapper" id="wrapper">
        <section class="grid-wrap orders">
            <script id="order-list-template" type="text/template">

                {{each data as order_group}}
                <section class="grid orders-list">
                    <header class="row-1">
                        下单时间：
                        <span>{{order_group.add_time}}</span>
                    </header>
                    <!-- end header -->
                    {{each order_group.order_list as order}}
                    <div class="row-3 orders-item-list"> 
                        {{each order.extend_order_goods as goods index}}
                        {{if index == 0}}
                        <img class="col-3" src="{{goods.goods_image_url}}" alt="{{goods.goods_name}}">
                        {{/if}}
                        {{/each}}
                        <a href="javascript:open_url('orders','orderinfo',{{order.order_id}})" >
                            <div class="col-9 orders-item-info">
                                <p>订单编号：
                                    <span class="order-no">{{order.order_sn}}</span>
                                </p>
                                <p>订单金额：¥
                                    <span class="order-price">{{order.order_amount}}</span>
                                    <span class="order-count">共{{order.goods_num}}件&nbsp;&nbsp;&nbsp;&gt;</span>
                                </p>
                                <p>订单状态：
                                    <span class="order-status">{{order.state_desc}}</span>
                                    <span class="order-del">
                                        {{if order.if_delete}}
                                        <a class="delOrder" href="javascript:void(0);" data-order-id="{{order.order_id}}">删除订单</a>
                                        {{/if}}
                                        {{if order.if_cancel}}
                                        <a class="dropOrder" href="javascript:void(0);" data-order-id="{{order.order_id}}">取消订单</a>
                                         {{/if}}
                                        {{if order.if_receive}}
                                        <a class="makePoint" href="javascript:void(0);" data-order-id="{{order.order_id}}">确认收货</a>
                                         {{/if}}
                                        {{if order.if_evaluation}}
                                        <a class="comment" href="javascript:void(0);" data-order-id="{{order.order_id}}">订单评价</a>
                                         {{/if}}
                                    </span>
                                </p>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                    {{if order_group.pay_amount}}
                    <footer>
                        总计：¥
                        <span>{{order_group.pay_amount}}</span>
                    </footer>
                    <aside class="pay">
                        <span></span>
                        <a class="payOrder" href="javascript:void(0)" data-tid="{{order_group.pay_sn}}" data-fee="{{order_group.pay_amount}}">立即支付</a>
                    </aside>
                    {{/if}}
                    <aside class="wave"></aside>
                </section>
                {{/each}}
            </script>
            <script id="order-empty-template" type="text/template">
                <i class="order-img"></i>
                <p class="order-hint">暂无订单</p>
                <a class="order-btn" href="/">逛逛今日特卖</a>
            </script>
        </section>
        <!-- end .orders -->
        <div class="loading">
            正在加载...
        </div>
        <section id="payment" class="payment-list hidden"></section>
    </section>
    <section class="order-refund-reason hidden">
        <div class="title"><a href="javascript:;" class="btn btn-cancel">取消</a>请选择取消订单的原因？<a href="javascript:;" class="btn btn-ok">确定</a>
        </div>
        <ul class="box">
            <li class="item" data-reason="买错了">买错了</li>
            <li class="item" data-reason="不想买了">不想买了</li>
            <li class="item" data-reason="信息填写错误，重新下单">信息填写错误，重新下单</li>
            <li class="item" data-reason="重复购买">重复购买</li>
            <li class="item" data-reason="支付遇到问题">支付遇到问题</li>
            <li class="item" data-reason="其他原因">其他原因</li>
        </ul>
    </section>
    <script type="text/javascript" src="/js/member/order.js<!--#include virtual='/tpl/version.html'-->"></script>
    <script type="text/javascript">
        order.init('orders');
        $(window).scroll(function() {
            if($('.loading').offset().top < $(window).scrollTop() + 1.3*$(window).height()){
                if(!stop){
                    $(".loading").show();
                    order.ajax_getOrder();
                    stop = true;
                }
            }
        });
    </script>
</body>

</html>
