@charset "utf-8";

body{background:#DDD;-webkit-user-select:none;-ms-user-select:none;user-select:none}
.wrapper{padding-top:2rem}
.tab{height:1.54rem;background:#FFF}
.tab .grid span{display:inline-block}
.tab .grid .col-6{height:1.1rem;line-height:1.1rem;text-align:center}
.tab .grid .col-6 span{box-sizing:padding-box;width:80%;font-size:.8rem;padding:.2rem 0}
.tab .grid .active span{border-bottom:solid 2px #F76597;color:#F76597}
.categories{padding:0 .4rem}
.categories .category .cate-name{display:inline-block;padding:.8rem .1rem .5rem;font-size:.6rem}
.categories .category .cate-items{width:100%;font-size:0}
.categories .category .cate-items .cate-item{display:inline-block;width:4.96rem;height:1.6rem;background:#FFF;border-right:solid #DDD 1px;border-bottom:solid #DDD 1px;line-height:1.6rem;text-align:center;font-size:.6rem;color:#000}
