@charset "utf-8";

.login{position:relative;margin:0 .44rem;overflow:hidden}
.login input::-webkit-input-placeholder{color:#C7C7CD}
.login input:-moz-placeholder{color:#C7C7CD}
.login input::-moz-placeholder{color:#C7C7CD}
.login input:-ms-input-placeholder{color:#C7C7CD}
.login button{border:0}
.login a{text-decoration:none}
.login .input{position:relative;margin:.8rem .13rem 0;font-size:0}
.login .input input{border:.05rem solid #DCDCDC}
.login .input input:last-child{border-bottom-left-radius:.2rem;border-bottom-right-radius:.2rem;margin-top:-.05rem}
.login .input input:first-child{border-top-left-radius:.2rem;border-top-right-radius:.2rem;margin-top:0}
.login .password-input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
.login .password-input{display:block;z-index:1;position:relative;width:100%;height:2rem;padding:.6rem 0 .55rem 1.64rem;background-position:.533rem center;background-repeat:no-repeat;background-size:auto .75rem;line-height:1rem;font-size:.75rem}
.login .password-input:focus{z-index:2;border-color:#09C}
.login .password-input{background-image:url(../img/password-input.png)}
.login .find-password-btn{width:100%;height:2rem;border-radius:.1rem;margin-top:.5rem;line-height:2rem;font-size:.8rem;text-align:center}
.login .find-password-btn{background-color:#FF3964;color:#FFF}
.login button[disabled]{border-color:#ccc;color:#ccc;background-color:#fff}
.header .navbar{position:absolute}
.wrapper{padding-top:2rem}
