@charset "utf-8";

html,body{background:#f9f9f9}



.filterbar{-webkit-transition:top .5s linear;transition:top .5s linear;}
.filterbar-inner-container{position:absolute;border-bottom:0;}
.filterbar-inner-item.active{color:#984aff;border-bottom:solid .05rem #984aff}
.filterbar-dropdown{position:absolute;max-height:inherit;}
.filterbar-dropdown-item.active .filterbar-dropdown-item-inner{color:#984aff;border-bottom:solid .1rem #984aff}
.wrapper{padding-top:2rem;-webkit-transition:top .5s linear;transition:top .5s linear}
.oversea-categorys-ads{margin:-1px 0 .384rem -1px;overflow:hidden;text-align:center;background-color:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;*zoom:1}
.oversea-categorys-ads:before,.oversea-categorys-ads:after{display:table;content:""}
.oversea-categorys-ads:after{clear:both}
.oversea-categorys-ads .item{float:left;width:25%;padding:.384rem 0;text-align:center;border-top:1px solid #e4e4e4;border-left:1px solid #e4e4e4;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.oversea-categorys-ads .item .title{width:100%;font-size:.42666667rem;line-height:1;color:#333;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.oversea-categorys-ads .item:active{text-decoration:none}
.oversea-categorys-ads .item img{display:block;margin:0 auto .128rem;width:2.56rem;height:1.28rem}
.oversea-filterbar{position:relative;top:0;margin-bottom:.384rem}
.wrapper .item-list .item{height:11rem}
.wrapper .item-info .title{height:1.4rem;overflow:hidden}
.wrapper .price-discount{color:#5d299f!important}
.wrapper .national-flag{width:.64rem;height:.4rem;margin-right:.2rem}
